
#et{
    font-family: Arial,fantasy,monospace;
}
#photo_et{
    float:inline-end
}
#photo_et2{
    float:inline-end
}
#ou{
    font-family: Arial,fantasy,monospace;
}
#photo_ou{
    float:inline-end
}
#photo_ou2{
    float:inline-end
}
#not{
    font-family: Arial,fantasy,monospace;
}
#photo_not{
    float:inline-end
}
#photo_not2{
    float:inline-end
}
#photo_xor{
    float:inline-end
}
#xor{
    font-family: Arial,fantasy,monospace;
}
#photo_xor{
    float:inline-end
}
#photo_xor2{
    float:inline-end
}
#table{
    font-family: Arial,fantasy,monospace;
}
#photo_karnaugh{
    float:none
}